<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmarket.pointshop.mapper.PointShopMapper"> 

	<select id="list" resultType="com.beetmarket.pointshop.vo.PointShopVO">
		select g.goodsId,goodsName,goodsImage,pointAmount,category,discountRate,shipNo,
		<!-- 해당 상품의 재고를 구하는 서브쿼리 -->
		(select count(*) goodsStock from PointShopStock s where stockState='판매중' and s.goodsId = g.goodsId)
		 goodsStock
		from PointShopGoodsInfo g 
		where stopSell = 0 
		<include refid="search"/>
		<include refid="cateSelect"/>
		order by category , goodsId desc
	</select>  
	
	<!-- 상품 이름 검색 쿼리 -->
	<sql id="search">		
		<if test="goodsName != null and goodsName != ''.toString()">
			and goodsName like '%' || #{goodsName} || '%'
		</if>	
	</sql>
	
	<!-- 카테고리 검색 쿼리 -->
	<sql id="cateSelect">
		<if test="category != null and category != ''.toString()">
			and category = #{category}
		</if>
	</sql>
	
	<insert id="goodsWrite">
		<selectKey order="BEFORE" resultType="Long" keyProperty="goodsId">
			select pointShopGoodsInfo_seq.nextval from dual
		</selectKey>
		insert into pointshopgoodsinfo
		(goodsId,category,goodsName,goodsImage,pointAmount,discountRate,shipNo)
		VALUES(#{goodsId},#{category},#{goodsName},#{goodsImage},
		#{pointAmount},#{discountRate,jdbcType=INTEGER},#{shipNo,jdbcType=INTEGER})
		
	</insert>
	
	<insert id="stockWrite">
		insert into PointShopStock
			(StockNo,goodsId)
			select value.* from(    
			    (
			    	<foreach collection="list" item="vo" separator="union all" index="i" >
			        	select (
			        		select nvl(max(StockNo),
			        			<if test="vo.category == '쿠폰'">0</if>
			        			<if test="vo.category == '상품권'">100000000000</if>
			        			<if test="vo.category == '음식'">1000000000000000</if>
			        		)+1+#{i}  
			        		from PointShopStock s,pointShopGoodsInfo g
			        		where g.category = #{vo.category} and (s.goodsId = g.goodsId)
			        	) StockNo ,#{vo.goodsId}  goodsId from dual			    	
			    	</foreach>        	
			       
			    ) value
			)
	</insert>
	
	
	
	
	
	
	
</mapper>