<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmarket.review.mapper.ReviewMapper">



<!-- 리뷰 리스트 -->
<select id="list" resultType="com.beetmarket.review.vo.ReviewVO">
	select reviewNo, WriteDate, starscore, reviewImage,  
	  reviewContent, goodsNo, orderNo, id, goodsName, photo
	from(
		select rownum rnum, reviewNo, orderNo, goodsNo,  
		 WriteDate, starscore, reviewImage, reviewContent ,id, goodsName, photo
		from(
			select 
				 r.reviewNo, r.WriteDate, r.starscore, r.reviewImage,  
	  			r.reviewContent, o.goodsNo, o.orderNo, o.id, g.goodsName, m.photo
			from
				review r, orders o, goods g, member m
			where 
				(r.orderNo = o.orderNo) and (o.goodsNo = g.goodsNo) and (o.id = m.id)
			order by 	reviewNo desc		
		)
	) where rnum between  #{startRow} and #{endRow}
</select>



<!-- 리뷰 총개수 -->
<select id="getTotalRow" resultType="Long">
	select count(*)
	from review
</select>



<!-- 리뷰 수 조회 -->
<select id="getCommentCount" resultType="int">
    SELECT COUNT(*) FROM comments
    WHERE reviewNo = #{reviewNo}
</select>


<!-- 등록 -->
<insert id="write">
	<selectKey keyProperty="reviewNo" resultType="Long" order="BEFORE">
		select review_seq.nextval from dual
	</selectKey>
		insert into review(reviewNo, reviewContent, reviewImage, starscore, orderNo )
		values(#{reviewNo}, #{reviewContent}, #{reviewImage}, #{starscore}, #{orderNo})
</insert>



<!-- 수정 -->
<update id="update">
<![CDATA[
	update review
	set reviewContent = #{reviewContent}, starscore = #{starscore}
	where reviewNo = #{reviewNo}
]]>
</update>


<!-- 삭제 -->
<delete id="delete" parameterType="long">
    DELETE FROM review WHERE reviewNo = #{reviewNo}
</delete>

</mapper>